@page
@model SistemaSolicitudesLaDat.Pages.PrincipalModel
@{
    Layout = "/Pages/Shared/_PrincipalLayout.cshtml"; // layout con sidebar
    ViewData["Title"] = "Página Principal";
}
<h1 class="display-4">¡Bienvenido, @Model.NombreCompleto!</h1>
